<a href="#">Add classroom</a>
<h5>List Classroom</h5>
{% for s in tabClassroom %}
    name: {{ s.name }}
    idStudent:{{ s.nbStudent }}
    <a href="#">Update</a>
    <a href="#">Delete</a>
    <br>
{% endfor %}